<tr id="<%= dom_id(web_request) %>">
  <td>
    <%= link_to web_request.headers['request']['date'],
                request_path(trap_id: current_trap, id: web_request) %>
  </td>
  <td>
    <%= web_request.headers['request']['header']['REMOTE_ADDR'] %>
  </td>
  <td>
    <%= web_request.headers['request']['header']['REQUEST_METHOD'] %>
  </td>
</tr>
