<div class="page-header">
  <h1>
    <%= current_trap.name %>
  </h1>
</div>

<%= form_for current_trap, html: {class: 'form-inline pull-right'} do |f| %>
  <div class="form-group">
    <div class="input-group">
      <%= f.label :slug, "#{request.scheme}://#{request.host}/",
                         class: 'input-group-addon' %>
      <%= f.text_field :slug, class: 'form-control' %>
      <div class="input-group-btn">
        <%= f.button nil, class: 'btn btn-info' %>
      </div>
    </div>
  </div>
<% end %>

<h3>
  Received requests
  (<span id="requests-count"><%= @requests.size %></span>)
</h3>
<br>
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Request Date</th>
        <th>Remote IP</th>
        <th>Request Method</th>
      </tr>
    </thead>
    <tbody id="requests-container">
      <%= render partial: :request, collection: @requests, as: :web_request %>
    </tbody>
  </table>
</div>
