<div class="page-header">
  <h1>
    <%= link_to current_trap.name, requests_path(trap_id: current_trap) %>
  </h1>
</div>

<ul class="nav nav-tabs" role="tablist" id="request-tabs">
  <li class="active">
    <a href="#request-info" data-toggle="tab">Overview</a>
  </li>
  <li>
    <a href="#request-header" data-toggle="tab">Request Header</a>
  </li>
  <li>
    <a href="#raw-response" data-toggle="tab">Raw Response</a>
  </li>
</ul>
<div class="tab-content table-responsive force ">
  <div id="request-info" class="tab-pane fade in active">
    <table class="table table-condensed">
      <tbody>
        <tr>
          <th>Request Date</th>
          <td><%= @request.headers['request']['date'] %></td>
        </tr>
        <tr>
          <th>Remote IP</th>
          <td><%= @request.headers['request']['header']['REMOTE_ADDR'] %></td>
        </tr>
        <tr>
          <th>Request Method</th>
          <td><%= @request.headers['request']['header']['REQUEST_METHOD'] %></td>
        </tr>
        <tr>
          <th>Scheme</th>
          <td><%= @request.headers['request']['scheme'] %></td>
        </tr>
        <tr>
          <th>Query String</th>
          <td><%= @request.headers['request']['query_params'] %></td>
        </tr>
        <tr>
          <th>Query Params</th>
          <td><%= @request.headers['request']['body_params'] %></td>
        </tr>
        <tr>
          <th>Cookies</th>
          <td>
            <%= @request.headers['request']['header']['HTTP_COOKIE'] %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div id="request-header" class="tab-pane fade">
    <table class="table table-condensed">
      <tbody>
        <% @request.headers['request']['header'].each do |key, value| %>
          <% next unless key[/\AHTTP_.+/] %>
          <% next if key[/_HOST|_COOKIE|_VERSION\Z/] %>
          <tr>
            <th><%= key.sub(/HTTP_/, '').titleize.gsub(' ', '-') %></td>
            <td><%= value %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div id="raw-response" class="tab-pane fade">
    <p>
      <b>
        <%= @request.headers['request']['header']['SERVER_PROTOCOL'] %>
        <%= @request.headers['response']['status'] %>
        <%= Rack::Utils::HTTP_STATUS_CODES[@request.headers['response']['status']] %>
      </b>
      <br>
      <% @request.headers['response']['header'].each do |key, value| %>
        <b><%= key %></b>: <%= value %><br>
      <% end %>
    </p>
  </div>
</div>
