<center>
  <div class="page-header">
    <h1>Requests Trap</h1>
  </div>
  <p class="lead">A tool for capture and display HTTP requests</p>
  <br>
  <h5>Create your first trap and start capturing requests</h5>
  <%= form_for @trap, html: {class: 'form-inline'} do |f| %>
    <div class="form-group">
      <div class="input-group">
        <%= f.label      :name, 'Trap name', class: 'sr-only' %>
        <%= f.text_field :name, placeholder: 'Trap name', class: 'form-control input-lg' %>
        <div class="input-group-btn">
          <%= f.button nil, class: 'btn btn-success input-lg' %>
        </div>
      </div>
    </div>
  <% end %>
</center>
