@import 'bootstrap';

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
  padding: 0 15px;
}

.container .text-muted {
  text-align: right;
  margin: 20px 0;
}

.table-responsive.force {
  width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
  border: 1px solid #dddddd;
  border-top: none;
  margin-bottom: 20px;
  padding: 10px;
  .table {
    border: none;
    margin-bottom: 0px;
    td, th {
      border: none;
    }
    td {
      word-wrap: break-word;
      overflow: hidden;
    }
    th {
      width: 120px;
      white-space: nowrap;
    }
  }
}

#raw-response {
  padding: 5px;
}
