<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Requests Trap: A tool for capture and display HTTP requests">
  <meta name="author" content="Ikhsan Maulana">
  <%= csrf_meta_tags %>
  <title>Requests Trap</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>
  <div class="container">
    <%= yield %>
  </div>
  <div class="footer">
    <div class="container">
      <p class="text-muted">
        @ixandidu &copy; <%= Time.now.year %>
      </p>
    </div>
  </div>
  <%= javascript_include_tag 'application' %>
</body>
</html>
